**/node_modules

# output
**/.output
**/.svelte-kit
**/build

# os
**/.DS_Store
**/Thumbs.db

# env
**/.env
**/.env.*
**/!.env.example
**/!.env.test

# vite
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
